html, body {
	margin: 0;
	padding: 0;
	background: #161616;
	color: #ddd;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body > div {
	margin: 1em 1.4em;
}

fieldset {
	display: inline-block;
}

input, textarea {
	background: #212121;
	color: #ddd;
	border: none;
	outline: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
	display: block;
}

/* util */

.hidden {
	display: none;
}

/* message display */

.message {
	margin: 0.2em 1em;
}

.message .username {
	margin-right: 0.5em;
	display: inline-block;
	font-weight: bold;
}

.message .content {
	display: inline-block;
}
